= simple_form_for(@medical_treatment) do |f|
  = f.error_notification
  .form-inputs
    .col-md-12.text-right      
      .form-buttons
        = link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-left") + 'Back', medical_treatments_path, :class => 'btn btn-default'
        = f.button :submit, :class => 'btn btn-default'
  .form-inputs
    = f.input :patient_id, :collection => Patient.where(:user_id => current_user.id).order(:last_name, :first_name), :label_method => lambda { |patient| "#{patient.last_name} #{patient.first_name}"}
    = f.input :date, as: :string, :input_html =>{data: { behavior: "datepicker" }, :class => 'datepicker'}
    = f.input :location_id, :collection => MedicalTreatment::LOCATIONS.sort.map {|k,v| [v,k]}
    = f.input :medical_treatment_type_id, :collection => MedicalTreatmentType.where(:user_id => current_user.id).order(:name), :label_method => lambda { |medical_treatment_type| "#{medical_treatment_type.name}"}
    = f.input :price
    = f.input :note
    %br
    .well
      = f.fields_for :payments do |builder|
        = render 'payment_form', :p => builder
      = link_to_add_fields "Add Payment", f, :payments, 'reload_datepickers' unless !@medical_treatment.status.nil?

    .col-md-12.text-right      
      .form-buttons
        = link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-left") + 'Back', medical_treatments_path, :class => 'btn btn-default'
        = f.button :submit, :class => 'btn btn-default'
  