= simple_form_for @office, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  = f.error_notification
  .form-inputs.col-md-12
    %fieldset
      = f.input :name
      = f.input :address
      = f.input :postal_code
      = f.input :city
      = f.association :country, :collection => Country.all().order(:name)
      = f.input :phone
      = f.input :website
      = f.input :email
      %br
      .form-buttons
        = f.button :button, :class => 'btn-info', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}
