.row
  = simple_form_for [@medical_treatment.patient, @medical_treatment], :html => { :class => 'form-horizontal', :multipart => true }, :remote => true do |f|
    .form-inputs
      .col-md-12
        = f.error_notification
        %fieldset
          = f.input :patient_id, :as => :hidden
          %div
            Patient : #{@medical_treatment.patient.first_name} #{@medical_treatment.patient.last_name}
          %div
            .col-md-12
              .col-md-6
                %fieldset
                  = f.input :date, as: :string, :input_html =>{data: { behavior: "datepicker" }, :class => 'datepicker', style: "z-index: 10000"}
              .col-md-6
                %fieldset
                  = f.input :location_id, :collection => MedicalTreatment::LOCATIONS.sort.map {|k,v| [v,k]}
            .col-md-12
              .col-md-6
                %fieldset
                  = f.input :medical_treatment_type_id, :collection => MedicalTreatmentType.where(:user_id => current_user.id).order(:name), :label_method => lambda { |medical_treatment_type| "#{medical_treatment_type.name}"}
              .col-md-6
                %fieldset
                  = f.input :price
            .col-md-12
              = f.input :note
