<h1>Listing practitioners</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Mobile phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Postal code</th>
      <th>City</th>
      <th>Country</th>
      <th>Note</th>
      <th>Speciality</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @practitioners.each do |practitioner| %>
      <tr>
        <td><%= practitioner.first_name %></td>
        <td><%= practitioner.last_name %></td>
        <td><%= practitioner.phone %></td>
        <td><%= practitioner.mobile_phone %></td>
        <td><%= practitioner.email %></td>
        <td><%= practitioner.address %></td>
        <td><%= practitioner.postal_code %></td>
        <td><%= practitioner.city %></td>
        <td><%= practitioner.country_id %></td>
        <td><%= practitioner.note %></td>
        <td><%= practitioner.speciality_id %></td>
        <td><%= link_to 'Show', practitioner %></td>
        <td><%= link_to 'Edit', edit_practitioner_path(practitioner) %></td>
        <td><%= link_to 'Destroy', practitioner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Practitioner', new_practitioner_path %>
