<h1>Listing bank_deposits</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Number</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_deposits.each do |bank_deposit| %>
      <tr>
        <td><%= bank_deposit.type %></td>
        <td><%= bank_deposit.number %></td>
        <td><%= bank_deposit.amount %></td>
        <td><%= link_to 'Show', bank_deposit %></td>
        <td><%= link_to 'Edit', edit_bank_deposit_path(bank_deposit) %></td>
        <td><%= link_to 'Destroy', bank_deposit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank deposit', new_bank_deposit_path %>
