<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @bank_deposit.deposit_type %>
</p>

<p>
  <strong>Number:</strong>
  <%= @bank_deposit.number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bank_deposit.amount %>
</p>

<%= link_to 'Edit', edit_bank_deposit_path(@bank_deposit) %> |
<%= link_to 'Back', bank_deposits_path %>
