= simple_form_for @patient, :html => { :class => 'form-horizontal', :multipart => true } do |f|
  - simple_form_notification_message f.error_notification
  .form-inputs
    .col-md-12.text-right
      %br
        .form-buttons
          = link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-left") + 'Back', patients_path, :class => 'btn btn-default'
          = f.button :submit, :class => 'btn btn-default'
    .col-md-6
      %fieldset
        = f.input :first_name
        = f.input :last_name
        = f.input :birthdate, as: :string, :input_html =>{data: { behavior: "datepicker" }, :class => 'datepicker'}
        = f.input :profession
        = f.input :phone
        = f.input :mobile_phone
        = f.input :email
        = f.input :address
        = f.input :postal_code
        = f.input :city
        = f.association :country, :collection => Country.all().order('name')
    .col-md-6
      %fieldset
        = f.input :national_insurance_number
        = f.association :family_doctor, :collection => Practitioner.where(:speciality_id => 1, :user_id => current_user.id).order(:last_name, :first_name), :label_method => lambda { |practitioner| "#{practitioner.last_name} #{practitioner.first_name} (#{practitioner.city})"}
        -#= f.hidden_field :family_doctor_id, class: 'select2 ajax', data: { source: finder_practitioners_path('q[speciality_id]' => 1) }
        = f.association :physical_therapists, :collection => Practitioner.where(:speciality_id => 2, :user_id => current_user.id).order(:last_name, :first_name), :label_method => lambda { |practitioner| "#{practitioner.last_name} #{practitioner.first_name} (#{practitioner.city})"}
        = f.association :osteopath, :collection => Practitioner.where(:speciality_id => 3, :user_id => current_user.id).order(:last_name, :first_name), :label_method => lambda { |practitioner| "#{practitioner.last_name} #{practitioner.first_name} (#{practitioner.city})"}
        = f.input :legal_guardian_id
        = f.input :note
        = f.input :diabetic
        = f.input :universal_healthcare_coverage
        = f.input :long_duration_disease
        = f.input :diabete_network_id
    .col-md-12.text-right
      %br
        .form-buttons
          = link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-left") + 'Back', patients_path, :class => 'btn btn-default'
          = f.button :submit, :class => 'btn btn-default'
