.container
	.row
		.col-md-12
			.panel.panel-default
				.panel-heading
					%h2 Patient Detail
				.panel-body
					.div_action
						.col-md-5
						.col-md-2.text-center
						.col-md-5.text-right
							= link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-left") + ' Back', patients_path, :class=>'btn btn-default btn-sm'
							= link_to content_tag(:span, "", class: "glyphicon glyphicon-pencil") + ' Edit', edit_patient_path(@patient),class: "btn btn-default btn-sm"
							= link_to 'Add Medical Treatment', new_patient_medical_treatment_path(patient_id: @patient, payment_type: nil),  {id: 'new_payment_path_js', :class=>'btn btn-default btn-sm', :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#ajax_modal', 'data-url' => new_medical_treatment_path(patient_id: @patient)}
							= link_to 'Add Document Scan', new_patient_document_scan_path(patient_id: @patient.id),  {id: 'new_patient_document_scan_path_js', :class=>'btn btn-default btn-sm', :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#ajax_modal', 'data-url' => new_patient_document_scan_path(patient_id: @patient)}
					%br
					%br
					%div
						.col-md-6
							%table.table.table-bordered.table-hover.table-condensed.detail-table
								- generate_show_page_item 'First name', @patient.first_name
								- generate_show_page_item 'Last name', @patient.last_name
								- generate_show_page_item 'Birthday', @patient.birthdate
								- generate_show_page_item 'Profession', @patient.profession
								- generate_show_page_item 'Phone', @patient.phone
								- generate_show_page_item 'Mobile phone', @patient.mobile_phone
								- generate_show_page_item 'Email', @patient.email
								- generate_show_page_item 'Address', @patient.address
								- generate_show_page_item 'Postal code', @patient.postal_code
								- generate_show_page_item 'City', @patient.city
								- generate_show_page_item 'Country', @patient.country.name
						.col-md-6
							%table.table.table-bordered.table-hover.table-condensed.detail-table
								- generate_show_page_item 'national_insurance_number', @patient.national_insurance_number
								- generate_show_page_item 'Family_doctor', @patient.family_doctor.first_name + ' ' + @patient.family_doctor.last_name + ' (' + @patient.family_doctor.city + ')' unless @patient.family_doctor_id.nil?
								- generate_show_page_item 'physical_therapists', @patient.physical_therapists.first_name + ' ' + @patient.physical_therapists.last_name + ' (' + @patient.physical_therapists.city + ')' unless @patient.physical_therapists.nil?
								- generate_show_page_item 'osteopath', @patient.osteopath.first_name + ' ' + @patient.osteopath.last_name + ' (' + @patient.osteopath.city + ')' unless @patient.osteopath.nil?
								- generate_show_page_item 'Legal guardian', @patient.legal_guardian_id
								- generate_show_page_item 'Note', @patient.note
								- generate_show_page_item 'diabetic', @patient.diabetic
								- generate_show_page_item 'universal_healthcare_coverage', @patient.universal_healthcare_coverage
								- generate_show_page_item 'long_duration_disease', @patient.long_duration_disease
								- generate_show_page_item 'diabete_network_id', @patient.diabete_network_id
						- if @medical_treatments.count > 0
							.col-md-12.text-center
								= will_paginate @medical_treatments, class: '', next_label: 'Next', previous_label: 'Previous'
							= search_form_for @q do |f|
								%table.table.table-striped.table-bordered.table-hover.table-condensed
									%tr
										%th
										%th Treatment type
										%th Date
										%th Location
										%th Status
										%th
									%tr
										%td
										%td #{f.select :medical_treatment_type_id_eq, options_from_collection_for_select(current_user.medical_treatment_types.all, :id, :name, @q.medical_treatment_type_id_eq), include_blank: true}
										%td
											.col-xs-3
												#{f.text_field :date_gteq, :class => "form-control input-sm datepicker"}
											.col-xs-1
												to
											.col-xs-3
												#{f.text_field :date_lteq, :class => "form-control input-sm datepicker"}
										%td #{f.select :location_id_eq, options_for_select(MedicalTreatment::LOCATIONS.sort.map {|k,v| [v,k]}, @q.location_id_eq), include_blank: true}
										%td #{f.select :status_eq, options_for_select(MedicalTreatment::STATUS.sort.map {|k,v| [v,k]}, @q.status_eq), include_blank: true}
										%td #{f.submit 'Filter', class: 'btn btn-default btn-xs'} #{link_to  content_tag(:span, "", class: "glyphicon glyphicon-remove") + ' Reset', medical_treatments_path(:locale => I18n.locale,:filter => 'reset'),  :class => 'btn btn-default btn-xs'}
									- @medical_treatments.each do |medical_treatment|
										%tr
											%td
												= link_to content_tag(:span, "", class: "glyphicon glyphicon-eye-open") + ' Detail', patient_medical_treatment_path(patient_id: @patient.id, id: medical_treatment.id, :locale => I18n.locale),  {id: 'new_payment_path_js', :class=>'btn btn-default btn-sm', :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#ajax_modal', 'data-url' => new_patient_medical_treatment_path(medical_treatment, patient_id: @patient)}
											%td #{medical_treatment.medical_treatment_type.name}
											%td #{medical_treatment.date}
											%td #{MedicalTreatment::LOCATIONS[medical_treatment.location_id]}
											%td #{MedicalTreatment::STATUS[medical_treatment.status]}
											%td

						- if !@document_scans.nil? && @document_scans.count > 0
							%table.table.table-striped.table-bordered.table-hover.table-condensed
								%tr
									%th
									%th Document Scan
									%th Date
								- @document_scans.each do |document_scan|
									%tr
										%td
											= link_to content_tag(:span, "", class: "glyphicon glyphicon-eye-open") + ' Detail', document_scan.file_url, class: 'btn btn-default btn-sm'
										%td
											= document_scan.title
										%td
											= document_scan.created_at
= render 'layouts/modal'
