= simple_form_for(@bank_account) do |f|
  = f.error_notification
  .form-inputs
    .col-md-12.text-right      
      .form-buttons
        = link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-left") + 'Back', bank_accounts_path, :class => 'btn btn-default'
        = f.button :submit, :class => 'btn btn-default'
  .form-inputs
    = f.input :bank_name
    = f.input :account_number
    = f.input :bank_check_deposit_number
    .col-md-12.text-right      
      .form-buttons
        = link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-left") + 'Back', bank_accounts_path, :class => 'btn btn-default'
        = f.button :submit, :class => 'btn btn-default'
  