<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :medical_treatment, :collection => MedicalTreatment.where(:user_id => current_user.id).order(:created_at), :label_method => lambda { |medical_treatment| "#{medical_treatment.patient.last_name} #{medical_treatment.patient.first_name} #{medical_treatment.medical_treatment_type.name} (#{medical_treatment.date} #{medical_treatment.price})"} %>
    <%= f.input :paid_at %>
    <%= f.input :payment_type, :collection => Payment::TYPE.sort.map {|k,v| [v,k]} %>
    <%= f.input :amount %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
