.container
	.row
		.col-md-12
			.panel.panel-default
				.panel-heading
					%h2 Payment listing
				.panel-body
					.div_action.row
						.col-md-4
						.col-md-4.text-center
							%span
								= pluralize(@total_items_selected, 'Payment')+' selected / '+@total_items.to_s
						.col-md-4.text-right
							= link_to content_tag(:span, "", class: "glyphicon glyphicon-chevron-left") + ' Back', payments_path, :class=>'btn btn-default'
							= link_to content_tag(:span, "", class: "glyphicon glyphicon-print") + ' Print','#', onclick: 'window.print(); return false;', :class=>'btn btn-default'
					.col-md-12.text-center
						= will_paginate @payments, class: '', next_label: 'Next', previous_label: 'Previous'
					= search_form_for @q, url: listing_payments_path do |f|
						%table.table.table-striped.table-bordered.table-hover.table-condensed
							%tr
								%th Medical treatment
								%th Paid at
								%th Type
								%th Amount
								%th
							%tr
								%td 
								%td
									.col-xs-3
										#{f.text_field :paid_at_gteq, :class => "form-control input-sm datepicker"}
									.col-xs-1
										to
									.col-xs-3
										#{f.text_field :paid_at_lteq, :class => "form-control input-sm datepicker"}

								%td #{f.text_field :payment_type_cont, :class => "form-control input-sm"}
								%td
								%td #{f.submit 'Filter', class: 'btn btn-default btn-xs'} #{link_to  content_tag(:span, "", class: "glyphicon glyphicon-remove") + ' Reset', payments_path(:locale => I18n.locale,:filter => 'reset'),  :class => 'btn btn-default btn-xs'}
							- total = {all: 0}
							- total_day = {all: 0}
							- day = nil
							- @payments.each do |payment|
								- if day != payment.paid_at
									- if total_day[:all] != 0
										%tr
											%td{colspan: 5, align: 'center'}
												%b
													- total_day.each do |total_day_type_sym, total_day_type|
														Total #{total_day_type_sym.to_s} : #{total_day[total_day_type_sym].to_s} -
									- total_day = {all: 0}
									- total_day[Payment::TYPE[payment.payment_type].to_sym] = payment.amount
									- total_day[:all] = payment.amount

								- else
									- total_day[:all] = total_day[:all] + payment.amount
									- total_day[Payment::TYPE[payment.payment_type].to_sym] = total_day[Payment::TYPE[payment.payment_type].to_sym].to_i + payment.amount
								
								
								- day = payment.paid_at
								- total[Payment::TYPE[payment.payment_type].to_sym] = total[Payment::TYPE[payment.payment_type].to_sym].to_i + payment.amount
								- total[:all] = total[:all] + payment.amount
								%tr
									%td #{payment.medical_treatment.patient.last_name + ' ' + payment.medical_treatment.patient.first_name + ' (' + payment.medical_treatment.medical_treatment_type.name + ' ' + payment.medical_treatment.date.to_s +  ')'}
									%td #{payment.paid_at}
									%td #{Payment::TYPE[payment.payment_type]}
									%td #{payment.amount}
									%td
							- if total_day[:all] != 0
								%tr
									%td{colspan: 5, align: 'center'}
										%b
											- total_day.each do |total_day_type_sym, total_day_type|
												Total #{total_day_type_sym.to_s} : #{total_day[total_day_type_sym].to_s} -
							- if total[:all] != 0
								%tr
									%td{colspan: 5, align: 'right'}
										%b
											- total.each do |total_type_sym, total_type|
												Total #{total_type_sym.to_s} : #{total[total_type_sym].to_s} -